<h1>SIGN-IN</h1>
<br><br>

<%= render 'shared/errors' %>

<h2><a href=" <%= new_user_url %>">Go To sign-up</a></h2>

<form action=" <%= session_url %>" method="post">
<input type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <label for="user_email">Email</label>
  <input type="text" name="user[email]"
    id="user_email">
    <br>

  <label for="user_password">Password</label>
  <input type="password" name="user[password]"
    id="user_email">

  <input type="submit">

</form>
