/* PHASE 1: Header */

body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #eee;
}

.header {
  border-bottom: 1px solid red;
  color: #fff;
  background: #f00;

}

.header a {
  display: block;
  padding: 15px;
  /* margin: 15px; */
}

.header-nav {
  width: 900px;
  /* background-color: green; */
  margin: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;


}
