
<section class="band-index-holder">
  <nav>
    <h2>Da Bands!!</h2>
    <a href=" <%= new_band_url %>">Add Band</a>
  </nav>
  <section class="band-index">
    <% @bands.each do |band| %>
      <a href=" <%= band_url(band) %>">
        <div class="band-index-item">
          <div>
            <h3> <%= band.name %></h3>
          </div>
        </div>
      </a>
    <% end %>
  </section>
</section>
